<footer>
<div class="container-footer">
    <div class="address">
        <img src="assets/logo.svg" alt="Marcos Dall" title="Marcos Dall">
        <address>
            <p>São Paulo - SP<br>
            Rua Barata Ribeiro, 398</p>
        </address>
    </div>
</div>
<div class="navigation-footer">
    <nav>
        <ul>
            <li><a [routerLink]="['/']">Home</a></li>
            <li><a [routerLink]="['/quem-sou']" routerLinkActive="router-link-active">Quem sou</a></li>
            <li><a [routerLink]="['/areas-atuacao']" routerLinkActive="router-link-active">Áreas de Atuação</a></li>
            <li><a [routerLink]="['/na-midia']" routerLinkActive="router-link-active">Na mídia</a></li>
            <li><a [routerLink]="['/blog']" routerLinkActive="router-link-active">Blog</a></li>
            <li><a [routerLink]="['/contato']" routerLinkActive="router-link-active">Contato</a></li>
        </ul>
    </nav>
</div>
<div class="corp">
    <h3>Marcos Dall Oglio 2021 - By Guilherme Quintino</h3>
</div>
</footer>
