<div class="slider">
    <img src="assets/vitrine-03.jpg" alt="">
</div>
<div class="hospitais">
    <div class="hospital">
        <img src="assets/logos/hospital-sirio-libanes.png" alt="">
    </div>
    <div class="hospital">
        <img src="assets/logos/hospital-sao-luiz.png" alt="">
    </div>
    <div class="hospital">
        <img src="assets/logos/hospital-oswaldo-cruz.png" alt="">
    </div>
    <div class="hospital">
        <img src="assets/logos/hospital-nove-julho.png" alt="">
    </div>
    <div class="hospital">
        <img src="assets/logos/hospital-albert-einstein.png" alt="">
    </div>
</div>
