<div class="we-are">
    <div class="marcos">
        <img src="assets/marcos.jpg" alt="Marcos Dall Oglio" title="Marcos Dall Oglio">
    </div>
    <div class="text-we-are">
        <p>Há muitos anos atuando como Cirurgião do aparelho genital e urinário em hospitais de ensino e privados,
         participando da formação acadêmica de novos Médicos e também formação técnica de novos Urologistas, 
         ensinando procedimentos cirúrgicos de vanguarda, permaneço em contínuo aprendizado e aprimoramento profissional. 
         Atualmente com o amplo uso da cirurgia robótica, ofereço aos pacientes um tratamento ainda mais eficiente e 
         seguro com uma abordagem minimamente invasiva, com rápido retorno a vida normal.</p><p> Ao realizar constantes publicações 
         científicas e participar de novas pesquisas, permaneço conectado ao que há de mais novo e eficiente no tratamento 
         destas doenças. Neste consultório Médico, busco oferecer às pessoas um tratamento individualizado com todo afeto
          e calor humano que necessitamos para 
        superarmos momentos de dúvida e angústia frente a situações inesperadas e indesejáveis.</p>
        <button><a [routerLink]="['/contato']"> Entre em contato</a></button>
    </div>
</div>
