<div class="container top-navigation">
    <div class="top">
        <img src="assets/logo.svg" alt="Marcos Dall" title="Marcos Dall">
    </div>
    <div class="navbar">
        <nav>
            <ul>
                <li><a [routerLink]="['/']">Home</a></li>
                <li><a [routerLink]="['/quem-sou']" routerLinkActive="router-link-active">Quem sou</a></li>
                <li><a [routerLink]="['/areas-atuacao']" routerLinkActive="router-link-active">Áreas de Atuação</a></li>
                <li><a [routerLink]="['/na-midia']" routerLinkActive="router-link-active">Na mídia</a></li>
                <li><a [routerLink]="['/blog']" routerLinkActive="router-link-active">Blog</a></li>
                <li><a [routerLink]="['/contato']" routerLinkActive="router-link-active">Contato</a></li>
            </ul>
        </nav>
    </div>
</div>
<div class="contact-top">
    <div class="contact">
        <div class="icons">
            <i class="fa fa-phone fa-2x"></i>
        </div>
        <h2>Telefone</h2>
        <p>113159-3618</p>
    </div>
    <div class="contact">
        <div class="icons">
            <i class="fa fa-whatsapp fa-2x"></i>
        </div>
        <h2>Whatsapp</h2>
        <p>1198990-5985</p>
    </div>
    <div class="contact">
        <div class="icons">
            <i class="fa fa-envelope-square fa-2x"></i>
        </div>
        <h2>E-mail</h2>
        <p>secretaria.mdalloglio@gmail.com</p>
    </div>
    <div class="contact">
        <div class="icons">
            <i class="fa fa-street-view fa-2x"></i>
        </div>
        <h2>São Paulo - SP</h2>
        <p>Rua Barata Ribeiro, 398</p>
    </div>
</div>
