<h2 class="txtcenter">ÁREAS DE ATUAÇÃO</h2>
<div class="areas">
    <div class="atuacao">
        <h3>HIPERPLASIA PROSTÁTICA</h3>
        <p>O câncer de bexiga é o segundo câncer mais comum do aparelho urinário, acomete homens e mulheres
             e relaciona-se mais comumente ao uso do cigarro e ao envelhecimento. O tabagismo é o fator de risco
              mais importante no desenvolvimento do câncer de bexiga, acredita-se que seja responsável por 50 a 65%
               dos tumores em homens e 20 a 30% nas mulheres. </p>
    </div>
    <div class="atuacao">
        <h3>HIPERPLASIA PROSTÁTICA</h3>
        <p>O câncer de bexiga é o segundo câncer mais comum do aparelho urinário, acomete homens e mulheres e
             relaciona-se mais comumente ao uso do cigarro e ao envelhecimento. O tabagismo é o fator de risco mais
              importante no desenvolvimento do câncer de bexiga, acredita-se que seja responsável por 50 a 65% dos
               tumores em homens e 20 a 30% nas mulheres. </p>
    </div>
    <div class="atuacao">
        <h3>HIPERPLASIA PROSTÁTICA</h3>
        <p>O câncer de bexiga é o segundo câncer mais comum do aparelho urinário, acomete homens e mulheres e relaciona-se
             mais comumente ao uso do cigarro e ao envelhecimento. O tabagismo é o fator de risco mais importante no 
             desenvolvimento do câncer de bexiga, acredita-se que seja responsável por 50 a 65% dos tumores em homens
              e 20 a 30% nas mulheres. </p>
    </div>
    <div class="atuacao">
        <h3>HIPERPLASIA PROSTÁTICA</h3>
        <p>O câncer de bexiga é o segundo câncer mais comum do aparelho urinário, acomete homens
             e mulheres e relaciona-se mais comumente ao uso do cigarro e ao envelhecimento. 
             O tabagismo é o fator de risco mais importante no desenvolvimento do câncer de bexiga,
              acredita-se que seja responsável por 50 a 65% dos tumores em homens e 20 a 30% nas mulheres. </p>
    </div>
    <div class="atuacao">
        <h3>HIPERPLASIA PROSTÁTICA</h3>
        <p>O câncer de bexiga é o segundo câncer mais comum do aparelho urinário, 
            acomete homens e mulheres e relaciona-se mais comumente ao uso do cigarro e ao envelhecimento.
             O tabagismo é o fator de risco mais importante no desenvolvimento do câncer de bexiga, acredita-se 
             que seja responsável por 50 a 65% dos tumores em homens e 20 a 30% nas mulheres. </p>
    </div>
    <div class="atuacao">
        <h3>HIPERPLASIA PROSTÁTICA</h3>
        <p>O câncer de bexiga é o segundo câncer mais comum do aparelho urinário, acomete homens e mulheres
             e relaciona-se mais comumente ao uso do cigarro e ao envelhecimento. O tabagismo é o fator de risco 
             mais importante no desenvolvimento do câncer de bexiga, acredita-se que seja responsável por 50 a 65% dos
              tumores em homens e 20 a 30% nas mulheres. </p>
    </div>
    <div class="atuacao">
        <h3>HIPERPLASIA PROSTÁTICA</h3>
        <p>O câncer de bexiga é o segundo câncer mais comum do aparelho urinário, acomete homens e mulheres 
            e relaciona-se mais comumente ao uso do cigarro e ao envelhecimento. O tabagismo é o fator de risco 
            mais importante no desenvolvimento do câncer de bexiga, acredita-se que seja responsável por 50 a 65% 
            dos tumores em homens e 20 a 30% nas mulheres. </p>
    </div>
    <div class="atuacao">
        <h3>HIPERPLASIA PROSTÁTICA</h3>
        <p>O câncer de bexiga é o segundo câncer mais comum do aparelho urinário, 
            acomete homens e mulheres e relaciona-se mais comumente ao uso do cigarro e ao envelhecimento. 
            O tabagismo é o fator de risco mais importante no desenvolvimento do câncer de bexiga, acredita-se que 
            seja responsável por 50 a 65% dos tumores em homens e 20 a 30% nas mulheres. </p>
    </div>
    <div class="atuacao">
        <h3>HIPERPLASIA PROSTÁTICA</h3>
        <p>O câncer de bexiga é o segundo câncer mais comum do aparelho urinário,
             acomete homens e mulheres e relaciona-se mais comumente ao uso do cigarro e ao envelhecimento.
              O tabagismo é o fator de risco mais importante no desenvolvimento do câncer de bexiga, acredita-se que seja 
              responsável por 50 a 65% dos tumores em homens e 20 a 30% nas mulheres. </p>
    </div>
</div>